* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  
}
.app{
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-image: url("/nav-bar-icons/mac-wallpaper.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
